@tailwind base;
@tailwind components;
@tailwind utilities;

h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

h1 {
  @apply text-3xl sm:text-4xl md:text-6xl font-lords;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-4xl;
}

h3 {
  @apply text-xl sm:text-xl md:text-2xl;
}

h4 {
  @apply text-xl font-semibold tracking-widest uppercase font-body;
}

button {
  @apply font-body;
}

body {
  @apply text-stone-300 font-body;
}

#deckgl-wrapper {
  background: rgb(146 177 185);
  @apply overflow-auto;
}

/* Prevent interference with Bridge modal by setting z-index */
.web3modal-modal-lightbox {
  z-index: 51 !important;
}

.shimmer.background-animate {
  background-size: 500%;
}

.fast {
  animation: animation-name 3s ease infinite;
}

.slow {
  animation: animation-name 8s ease infinite;
}

@keyframes animation-name {
  0%,
  100% {
    background-position: 25% 50%;
  }

  50% {
    background-position: 90% 50%;
  }
}
@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }

  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }

  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

.rc-input-number-wrap,
.rc-input-number-input {
  background: inherit;
  width: 100%;
  text-align: right;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-thumb {
  @apply cursor-move rounded-2xl bg-stone-700 hover:bg-cta-100;
}

@font-face {
  font-family: Lords;
  src: url('fontforlordsn.otf');
}

/* button {
  border-image-slice: 15 15 15 15 fill;
border-image-width: 4px;
border-image-outset:0px 0px 0px 0px;
border-image-repeat:round round;
border-image-source:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/58198e4d-4439-4964-bdbe-c16878ee1702/d2oara-64ae7029-4c08-45b6-8f1d-8bfb367930b5.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzU4MTk4ZTRkLTQ0MzktNDk2NC1iZGJlLWMxNjg3OGVlMTcwMlwvZDJvYXJhLTY0YWU3MDI5LTRjMDgtNDViNi04ZjFkLThiZmIzNjc5MzBiNS5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.hvo4XbNCfaARciPOoIXDbgAJ5aey-_stWkiV-lI7ojo");
border-style:solid;
} */
