@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

h1 {
  @apply text-3xl sm:text-4xl md:text-6xl;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-4xl;
}

h3 {
  @apply text-xl sm:text-xl md:text-2xl;
}

h4 {
  @apply text-xl font-semibold tracking-widest uppercase font-body;
}

button {
  @apply font-body;
}

body {
  @apply text-gray-200 font-body;
}

#deckgl-wrapper {
  background: rgb(146 177 185);
  @apply overflow-auto;
}

/* Prevent interference with Bridge modal by setting z-index */
.web3modal-modal-lightbox {
  z-index: 51 !important;
}

.shimmer.background-animate {
  background-size: 500%;
}

.fast {
  animation: animation-name 3s ease infinite;
}

.slow {
  animation: animation-name 8s ease infinite;
}

@keyframes animation-name {
  0%,
  100% {
    background-position: 25% 50%;
  }

  50% {
    background-position: 90% 50%;
  }
}
@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }

  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }

  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

.rc-input-number-wrap,
.rc-input-number-input {
  background: inherit;
  width: 100%;
  text-align: right;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 1em;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0 0 0 / 30%);
}

*::-webkit-scrollbar-thumb {
  @apply bg-stone-200;
}

@font-face {
  font-family: Lords;
  src: url('fontforlordsn.otf');
}
