@tailwind base;
@tailwind components;
@tailwind utilities;

h2,
h3,
h4,
h5,
h6 {
  @apply font-display;
}

h1 {
  @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-lords;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-4xl;
}

h3 {
  @apply text-xl sm:text-xl md:text-2xl;
}

h4 {
  @apply text-xl italic font-semibold tracking-widest;
}

button {
  @apply font-body;
}

body {
  @apply text-stone-300 font-body;

  /* The second value here is a fallback. */
  cursor: url('/pointers/arrow.png'), default;

  /* You may need coordinates to adjust the pointer
       for example, the custom cursor is circular and you want
       the middle to be where you click */
  cursor: url('/pointers/arrow.png') -18 -18, default;
}

#deckgl-wrapper {
  background: #20333f;
  @apply overflow-auto;
}

/* Prevent interference with Bridge modal by setting z-index */
.web3modal-modal-lightbox {
  z-index: 51 !important;
}

.shimmer.background-animate {
  background-size: 500%;
}

.fast {
  animation: animation-name 3s ease infinite;
}

.slow {
  animation: animation-name 8s ease infinite;
}

@keyframes animation-name {
  0%,
  100% {
    background-position: 25% 50%;
  }

  50% {
    background-position: 90% 50%;
  }
}
@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }

  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }

  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }

  .text-shadow-none {
    text-shadow: none;
  }
}

.rc-input-number-wrap,
.rc-input-number-input {
  background: inherit;
  width: 100%;
  text-align: right;
  font-weight: inherit;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  @apply w-1 h-1 md:w-2 md:h-2;

  border-image: url('https://thumbs.dreamstime.com/b/closeup-old-paper-texture-age-marks-29969606.jpg')
    12 / 3px 3px 3px 3px / 0 repeat repeat;
}

*::-webkit-scrollbar-thumb {
  @apply rounded cursor-move bg-yellow-secondary;
}

@font-face {
  font-family: Lords;
  src: url('fontforlordsn.otf');
}

.card {
  border-style: solid;
  border-image: url('https://thumbs.dreamstime.com/b/closeup-old-paper-texture-age-marks-29969606.jpg')
    12 / 3px 1px 1px 1px / 0 repeat repeat;
}

.paper {
  mask-image: url('../../public/textures/grit.png');
  mask-size: 70%;
  mask-mode: alpha, match-source;
}

.rounded-corners-gradient-borders {
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #f00, #3020ff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}

div#deckgl-wrapper {
  overflow: hidden;
}

.background-paper {
  border-style: solid;
  border-image: url('/paper_shape.png') 12 / 3px 3px 3px 3px / 0 repeat repeat;
}

.vignette-inset {
  position: relative;
}

.vignette-inset::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  pointer-events: none;
  box-shadow: inset 0 0 150px black;
}

.web3mq-channel-container {
  --tw-bg-opacity: 1;

  background-color: rgb(14 14 14 / var(--tw-bg-opacity)) !important;
}

.web3mq-dialog {
  background: #000 !important;
  color: #a1a1aa;
}

.bg-yellow-scroll {
  background-color: #cebba2;
}

.fill-yellow-scroll {
  fill: #cebba2;
}

.color-yellow-scroll {
  color: #cebba2;
}

.stroke-yellow-scroll {
  stroke: #cebba2;
}

.bg-yellow-secondary {
  background-color: #c49c5c;
}

.fill-yellow-secondary {
  fill: #c49c5c;
}

.color-yellow-secondary {
  color: #c49c5c;
}

.primary-button-color {
  color: #2c221b;
}

.bastion-icon {
  @apply xl:text-[15px] 2xl:text-[18px];
}
