@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h5,
h6 {
  @apply font-display;
}

h1 {
  @apply text-3xl sm:text-4xl md:text-6xl;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-4xl;
}

h3 {
  @apply text-lg sm:text-xl md:text-2xl;
}

h4 {
  @apply mb-4 text-xl font-semibold tracking-widest uppercase font-body;
}

button {
  @apply tracking-widest uppercase;
}

body {
  @apply text-lg leading-loose text-off-300 font-body;
}

hr {
  @apply my-8;
}

@font-face {
  font-family: Lords;
  src: url('fontforlordsn.otf');
}

.web3modal-modal-lightbox {
  z-index: 50 !important;
}
