name: CI-atlas-app

on:
  push:
    branches:
      - dev
      - monorepo
      - main
    paths:
      - 'apps/atlas/**'
      - 'packages/**'
      - '.yarnrc.yml'
      - '.github/workflows/**'

  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - 'apps/atlas/**'
      - 'packages/**'
      - '.yarnrc.yml'
      - '.github/workflows/**'

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10

    strategy:
      matrix:
        node-version: [16.x]
    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}

      # Why not using setup-node 2.2+ cache option (yet) ?
      # see https://github.com/belgattitude/nextjs-monorepo-example/pull/369
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"

      - name: Restore yarn cache
        uses: actions/cache@v2
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: yarn-cache-folder-${{ hashFiles('**/yarn.lock', '.yarnrc.yml') }}
          restore-keys: |
            yarn-cache-folder-

      # see https://github.com/vercel/next.js/pull/27362
      - name: Restore nextjs build atlas from cache
        uses: actions/cache@v2
        with:
          path: |
            ${{ github.workspace }}/apps/atlas/.next/cache
            ${{ github.workspace }}/.cache
            ${{ github.workspace }}/**/tsconfig.tsbuildinfo
            ${{ github.workspace }}/**/.eslintcache

          key: ${{ runner.os }}-nextjs-atlas-${{ hashFiles('**/yarn.lock') }}-${{ hashFiles('apps/atlas/src/**.[jt]sx?', 'apps/atlas/src/**.json') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-atlas-${{ hashFiles('**/yarn.lock') }}-

      - name: Install dependencies
        run: |
          yarn install --immutable

      - name: Typecheck
        working-directory: apps/atlas
        run: |
          yarn typecheck

      - name: Linter
        working-directory: apps/atlas
        run: |
          yarn lint --cache
          yarn lint-styles

      - name: Unit tests
        working-directory: apps/atlas
        run: |
          yarn test-unit --runInBand --color

      - name: Build atlas
        working-directory: apps/atlas
        run: |
          yarn build
        env:
          # Speed up build: they are linted in a previous step
          NEXTJS_IGNORE_ESLINT: 1
          # Speed up build: they are typechecked in a previous step
          NEXTJS_IGNORE_TYPECHECK: 1
          # Speed up build: don't run if not needed, enable if it becomes needed
          NEXT_DISABLE_SOURCEMAPS: 1
          # Don't send telemetry for ci
          NEXT_TELEMETRY_DISABLED: 1

      - name: Check bundle size
        working-directory: apps/atlas
        run: |
          yarn check-build-size

      - name: Check ecmascript checks for build files
        working-directory: apps/atlas
        run: |
          yarn check-dist

      - name: Install Playwright
        run: npx playwright install --with-deps chromium webkit

      - name: E2E run atlas playwright tests
        working-directory: apps/atlas
        run: |
          xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" -- yarn test-e2e
        env:
          E2E_WEBSERVER_MODE: START
          CI: 1

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: web-blog-playwright-test-results
          path: apps/atlas/e2e/.out
